@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
}



/********** Header and navigation bar **********/
.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #b12828;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: #185494;
}
 
.main-nav--logo-height {
    max-height: 64px;
}

.main-nav__items-container {
    height: 100%;
}
 
.main-nav__items {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav__item-content {
    display: block;
    padding: 1.53rem 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #b12828;
}

.main-nav__item:hover {
    background-color: #185494;
}

.main-nav__item-content:hover {
    color: white;
}

.main-nav__btn {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
 
.main-nav__btn-line {
    height: 3px;
    width: 100%;
    background-color: #b12828;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .main-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-nav__btn {
        display: flex;
    }

    .main-nav__items-container {
        display: none;
        width: 100%;
    }

    .main-nav__items {
        width: 100%;
        flex-direction: column;
    }
    
    .main-nav__item {
        text-align: center;
    }

    .main-nav__item 
    .main-nav__items {
        padding: .5rem 1rem;
    }
    
    .main-nav__items-container.active {
        display: flex;
    }
}



/********** Empty space for main nav **********/
.empty-space-for-main-nav {
    display: block;
    height: 69px;
    max-width: 100%;
    background-color: white;

}

@media (min-width: 800px) {
    .empty-space-for-main-nav {
        height: 74.94px;
    }
}



/********** Banner image **********/
.banner__image {
    max-width: 100%;
}

.banner__image-mobile {
    display: none;
    max-width: 100%;
}

@media (max-width: 660px) {
    .banner__image {
        display: none;
    }

    .banner__image-mobile {
        display: block;
        max-width: 100%;
    }
}

@media (min-width: 1450px) {
    .banner__image {
        display: block;
        width: 100%;
    }
}



/********** Nav filter section **********/
.nav-filter {
    display: flex;
    justify-content: center;
    background-color: #185494;
    margin-top: -4px;
}

.nav-filter__heading {
    text-align: center;
    max-width: 200px;
    flex-grow: 1;
    padding: 10px 5px;
}

.nav-filter__filter {
    text-align: center;
    max-width: 200px;
    flex-grow: 2;
    margin-left: 0;
    padding: 18px 5px;
    font-size: 1.3rem;
}

.nav-filter--barca-edit {
    font-size: 2rem;
    color: #b12828;
    -webkit-text-stroke: 2px white;
}

.nav-filter--kits-edit {
    color: white;
    font-size: 1.9rem;
}

.nav-filter__label {
    color: white;
    font-weight: 700;
}

.nav-filter__select {
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}



/********** Products section -- grid/card style **********/
.product__image {
    width: 100%;
}

.product__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    text-align: center;
    margin: auto;
}

.product__price {
    font-size: 22px;
}

.product__btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.product__btn:hover {
    opacity: 0.7;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 661px) and (max-width: 1000px) {
    .products {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .product__card {
        max-height: 740px;
        max-width: 350px;
    }
}

@media (min-width: 1001px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/********** Adjust main tag page view for large screens **********/
@media (min-width: 2072px) {
    main {
        max-width: 2072px;
        margin: auto;
    }
}



/********** Footer **********/
.footer {
    margin-top: 15px;
    width: 100%;
    background-color: #185494;
    padding: 30px 5px 30px;
    color: #181818;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer__header {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 2rem;
    color: #b12828;
    -webkit-text-stroke: 2px white;
}

.footer__copyright {
    color: white;
}