@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
}



/********** Header and navigation bar **********/
.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #b12828;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: #185494;
}
 
.main-nav--logo-height {
    max-height: 64px;
}

.main-nav__items-container {
    height: 100%;
}
 
.main-nav__items {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav__item-content {
    display: block;
    padding: 1.53rem 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #b12828;
}

.main-nav__item:hover {
    background-color: #185494;
}

.main-nav__item-content:hover {
    color: white;
}

.main-nav__btn {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
 
.main-nav__btn-line {
    height: 3px;
    width: 100%;
    background-color: #b12828;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .main-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-nav__btn {
        display: flex;
    }

    .main-nav__items-container {
        display: none;
        width: 100%;
    }

    .main-nav__items {
        width: 100%;
        flex-direction: column;
    }
    
    .main-nav__item {
        text-align: center;
    }

    .main-nav__item 
    .main-nav__items {
        padding: .5rem 1rem;
    }
    
    .main-nav__items-container.active {
        display: flex;
    }
}



/********** Empty space for main nav **********/
.empty-space-for-main-nav {
    display: block;
    height: 69px;
    max-width: 100%;
    background-color: white;

}

@media (min-width: 800px) {
    .empty-space-for-main-nav {
        height: 74.94px;
    }
}



/********** Banner image **********/
.banner__image {
    max-width: 100%;
}

.banner__image-mobile {
    display: none;
    max-width: 100%;
}

@media (max-width: 660px) {
    .banner__image {
        display: none;
    }

    .banner__image-mobile {
        display: block;
        max-width: 100%;
    }
}

@media (min-width: 1450px) {
    .banner__image {
        display: block;
        width: 100%;
    }
}



/********** Free shipping/return message **********/
.free-shipping-free-return {
    width: 100%;
    height: 61px;
    margin: -4px 0 0;
    background-color: #b12828;
    padding: 18px 0;
}

.free-shipping-free-return__content {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
}

@media (max-width: 405px) {
    .free-shipping-free-return__content {
        font-size: 1.1rem;
    }
}



/********** Product Overview Images -- Banner Image Slideshow **********/
.product-slideshow__image {
    vertical-align: middle;
    width: 100%;
}

/* Product slideshow container */
.product-slideshow {
    max-width: 600px;
    max-height: 900px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.product-slideshow__slide {
    display: none;
}

/* Fading animation */
.product-slideshow--fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/********** Placeholder between slideshow and featured products sections **********/
.placeholder {
    max-width: 100%;
    height: 61px;
    background-color: #185494;
}

.placeholder__best-sellers {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 19px 0;
}

@media (max-width: 399px) {
    .placeholder {
        margin-top: -4px;
    }
}



/********* Featured products section *********/
.featured-products {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
}

.featured-products__box {
    max-height: 800px;
    max-width: 469.5px;
    flex: 1 1 300px;
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.featured-products__image {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,0.7));
}

.featured-products__title {
    padding: 10px;
    color: #181818;
    font-size: 20px;
}

.featured-products__sub-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px, 10px;
}

.featured-products__price {
    font-size: 20px;
    padding: 0 0 10px 10px;
}

@media (min-width: 990px) and (max-width:1020px) {
    #featured-products--price-add-padding {
        margin-bottom: 10px;
    }
}



/********** Adjust main tag page view for large screens **********/
@media (min-width: 2072px) {
    main {
        max-width: 2072px;
        margin: auto;
    }
}



/********** Footer **********/
.footer {
    width: 100%;
    background-color: #185494;
    padding: 30px 5px 30px;
    color: #181818;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer__header {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 2rem;
    color: #b12828;
    -webkit-text-stroke: 2px white;
}

.footer__copyright {
    color: white;
}